@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.see-through {
  @apply bg-[rgba(19,19,19,.05)];
  backdrop-filter: blur(2px);
}

.soft-shadow {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

hover-shadow:hover {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
} 